body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
  }

  h1 {
    color: #333;
  }

  p {
    color: #333;
  }

  li {
    color: #000000;
  }

  a.source-button {
    color: #007bff;
  }

  a.source-button:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
  }

  h1 {
    color: #ffffff;
  }

  p {
    color: #dddddd;
  }

  li {
    color: #ffffff;
  }

  a.source-button {
    color: #1e90ff;
  }

  a.source-button:hover {
    text-decoration: underline;
  }
}

.content {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

h1 {
  font-size: 2.5em;

  margin-bottom: 100px;
  padding-top: 60px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin-bottom: -10px;
}

p {
  font-size: 1.25em;

  margin-bottom: 40px;
}

ol {
  padding-left: 20px;
  list-style-type: decimal;
}

li {
  margin-bottom: 15px;
  font-size: 1em;
  color: #000000;
}

a.source-button {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

a.source-button:hover {
  text-decoration: underline;
}
