@font-face {
  font-family: 'CuteSmile';
  src: url('CuteSmile.ttf') format('truetype');
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 20px;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #ffffff;
    color: #000000;
    font-weight: bold;
    background-image: url("https://media.discordapp.net/attachments/813521298713608242/1276221227895226368/nwordv2.png?ex=66c8bd23&is=66c76ba3&hm=30ad49dece860a63ddda0e7aee0182a6015e3af0df7a621b13244788ba667b79&=&format=webp&quality=lossless&width=89&height=89");
  }

  h1 {
    color: #333;
  }

  p {
    color: #333;
  }

  li {
    color: #000000;
  }

  a {
    color: #007bff;
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #121212;
    color: #ffffff;
    background-image: url("https://media.discordapp.net/attachments/813521298713608242/1276223152229449748/DarkTheme_v2.png?ex=66c8beee&is=66c76d6e&hm=9290ef5ff448f2f35e1c8daa9fc58e2632a2ef2c4197fe41c526dc37776f8751&=&format=webp&quality=lossless&width=89&height=89");
  }

  h1 {
    color: #ffffff;
  }

  p {
    color: #dddddd;
  }

  li {
    color: #ffffff;
  }

  a {
    color: #1e90ff;
  }

  a:hover {
    text-decoration: underline;
  }
}

.content {
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}

h1 {
  font-family: 'CuteSmile', sans-serif;
  font-size: 3em;
  letter-spacing: 5px;
  margin-bottom: 80px;
  padding-top: 60px;
  text-align: center;
}

h3 {
  font-size: 1.5em;
  margin-bottom: -10px;
}

p {
  font-size: 1.25em;
  margin-bottom: 40px;
}

footer {
  display: flex;
  justify-content: center;
}

footer p {
  opacity: 0.7;
  font-size: 1em;
}

a {
  text-decoration: none;;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}
